/* css styles */

.news {
    padding-left: 20px;
    margin-left: 30px;
    background-image: linear-gradient(to right, #888888, #3498db);
    background-repeat: no-repeat;
    background-size: 8px 100%; /* Width and height of the gradient 'border' */
    background-position: left center;
}

.news li {
    color:#333333;
    font-size: .925rem;
}

/* Left Sidebar Menu */

.sidebar-navigation li a {
    margin-bottom: 7px;
}



/* The three columns on the front page */

.content-box {
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 7px;
    border-radius: 5px; 
}

.content-box h4 {
    text-align: center;
}

.content-box img {
    width: 90%;        /* Makes the image use all available width of the parent container */
    height: auto;       /* Scales the height automatically to maintain the aspect ratio */
    border-radius: 5px; /* Optional: adds rounded corners to the image */
    margin: 0 auto 20px; /* Center the image and set the bottom margin */
    display: block;       /* Makes the image a block-level element which can then be centered using margin */
    margin-bottom: 20 px;     
}

