<ul style="list-style-type: 'ðŸ—žï¸ ';">
    <% for (const item of items) { %>
      <li style="margin-bottom: 30px;">
        <b><%= item.date %>: <a href="<%- item.path %>"><%= item.title %></a></b>
        <br><%= item.description %>
        <hr/>
      </li>
    <% } %>
</ul>