@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: #333333;
}


#main {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;
    box-sizing: content-box;
}


.card {
    border-radius: 8px;
    box-shadow: 0 0 4px #ccc;
    padding: 16px;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
}

#menu h3 {
    margin: 0;
}

#formview::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#formview {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#menu {
    flex: 1 1 40%;
    margin-top: 2rem;
}

#formview {
    flex: 1 1 60%;
    overflow: auto;
    margin-right: 2rem;
    padding: 2px;
}

#formview h2 {
    margin: none;
}

input[type=text], input[type=number], select, .textbox {
    display: block;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: large;
    box-sizing: border-box;
}

label {
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
}
form {
    margin-bottom: 10rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 16px;
}

button {
    font-size: 12pt;
    background-color: #efefef;
    border-radius: 4px;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #dfdfdf;
}

.title {
    margin-bottom: 8px;
    font-weight: bold;
}

.alignment-horizontal {
    display: flex;
    flex-direction: row;
}

.textbox-container {
    position: relative;
}

.wordcount {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    background-color: #efefef;
    color: gray;
    border-radius: 99px;
    padding: 0.25rem 0.5rem;
    font-size: 10pt;
}

.wordcount-max {
    right: 0;
    bottom: -2rem;
}

.wordcount-ok {
}

.wordcount-warning {
    color: darkred;
    font-weight: bold;
}

.tabs-container {
    max-width: 100%;
    display: flex;
}

#tabs {
    display: flex;
    overflow: scroll;
}

.tab, .add-button {
    font-size: 11pt;
    white-space: nowrap;
    background-color: #efefef;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.tab:hover, .add-button {
    background-color: #dfdfdf;
}

.tab.selected {
    background-color: #333333;
    color: #efefef;
}

.tab span {
    pointer-events: none;
}

#tabs::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#tabs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

header {
    border-bottom: 1px solid lightgray;
}

.topbar {
    padding: 8px;
    max-width: 1040px;
    margin: 0 auto;
    position: sticky;
    background-color: white;
    top: 0;
}

.topbar p {
    margin-top: 0;
    margin-bottom: 8px;
    color: gray;
    font-size: small;
}

#item-info {
    color: gray;
    margin: 0;
}

#item-background-details {
    color: gray;
    display: none;
    margin-top: 1rem;
}

summary {
    margin-bottom: 8px;
    cursor: pointer;
}

summary:hover {
   color: #333333;
}

#score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#score-minmax {
    text-align: center;
    color: gray;
    font-weight: bold;
    margin: 0;
}

#score-percentage {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}

#score-dot {
    margin: 0 0.5rem;
    font-weight: bold;
    font-size: 16pt;
    color: gray;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

#eval-dimension {
    color: gray;
    font-size: small;
    font-weight: bold;
    background-color: #efefef;
    padding: 0.125rem 0.5rem;
    border-radius: 99px;
    margin-left: 8px;
}

/* Modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #33333328;
    backdrop-filter: blur(5px);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 360px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 8px #ccc;
  }
  

.doi-info {
    color: gray;
    margin-bottom: 1rem;
}

.doi-info p {
    text-align: left;
}

@media (max-width: 500px) {
    #main {
        flex-direction: column;
        overflow: auto;
    }

    #formview {
        width: 100%;
        overflow: initial;
    }

    #menu {
        width: 100%;
    }
}